<%= form_for @squawk, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :s, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :s, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :squawk, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :squawk, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                squawks_path, :class => 'btn' %>
  </div>
<% end %>
